html {
  background-image: url(rainwall.jpg)
}

li a {
 text-decoration: none;
 font-family: cursive;
}

a {
  color: white;
  outline-color: white;
  text-decoration: none
}

td {
  text-align: center
}

td img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.personal_taste {
   position: relative;
   top: -20px;
   right: -1095px;
}

* {
  color:white;
}

h3{
  position: relative
}

ul {
  position:relative
}
